.Button {
    background-color: #5c5343;
    padding: 7px;
    border-radius: 1rem;
    border: #5c5343 2px solid;
    color: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.Button:hover {
    background-color: #faeed9;
    color: black;
    border: #5c5343 2px solid;
    transition: 0.5s;
    cursor: pointer;
}